<div class="input-group">
    <label for="{{id}}">{{label}}</label>
    <input
        type="{{type}}"
        id="{{id}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        {{#if required}}required{{/if}}
    >
</div>