<div class="input-field {{#if error}}input-field--error{{/if}}">
  <label for="{{id}}" class="input-field__label">{{label}}</label>
  <input
    type="{{type}}"
    id="{{id}}"
    name="{{name}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
    class="input-field__input"
    {{#if readonly}}readonly{{/if}}
  >
  {{#if error}}
  <span class="input-field__error">{{error}}</span>
  {{/if}}
</div>